<div>
  <h1>Recent Donations</h1>
  <ul class="small-block-grid-2 large-block-grid-4">
  <% recent_donations.each do |donation| %>
  <li>
    <h4>Donor: <%= donation.donor.name %></h4>
    <p>Donation Amount: $<%= donation.amount %></p>
    <p><%= donation.created_at.strftime("Donated on %m/%d/%Y") %></p>
  </li>
  <% end %>
</div>
