<div>
  <h1>Recent Donations</h1>
  <ul class="small-block-grid-2 large-block-grid-4">
  <% recent_donations.each do |donation| %>
    <li>
      <% if donation.amount >= 100 %>
      <div class="panel callout">
      <% else %>
      <div class="panel">
      <% end %>
        <span class="right"><%= donation.created_at.strftime("%m/%d/%Y") %></span>
        <h4>$<%= donation.amount %></h4>
        <span>courtesy of...</span>
        <h5><%= donation.donor.name %></h5>
      </div>
    </li>
  <% end %>
</div>
