<div id='edit_application_form' class="lots-of-margin"></div>

<div class="row">

  <div id="app_page_1" class="small-12 large-9 large-centered columns">
    <%= render "applications/page1" %>
  </div>

  <div id="app_page_2" class="small-12 large-9 large-centered columns" hidden>
    <%= render "applications/page2" %>
  </div>

  <div id="app_page_3" class="small-12 large-9 large-centered columns" hidden>
    <%= render "applications/page3" %>
  </div>

</div>
