<div class="lots-of-margin"></div>

<div class="row">

  <div>
    <%= render "applications/page1" %>
  </div>

  <div>
    <%= render "applications/page2" %>
  </div>

  <div>
    <%= render "applications/page3" %>
  </div>

</div>
