<div class="row">
  <div class="small-12 columns">
    <h1>How this works</h1>

    <div class="panel">
      <h3>We change lives one coder at a time.</h3>
      <p>Our online community has joined together to select <%= current_campaign.candidate.name  %> for our bi-monthly scholarship program. Now, it is up to us to come together back <%= current_campaign.candidate.name %>'s ability to go to an intensive programming bootcamp. We need your help to enable this lifechanging opportunity for <%= current_campaign.candidate.name %>!</p>
    </div>
  </div>

  <div class="small-12 large-4 columns">
    <h4>Support our Current Campaign</h4>
      <ol>
        <li>Read the sponsored coder's profile</li>
        <li>Donate any amount over $10 with 100% of the proceeds going to the scholarship fund!</li>
        <li>Nominate a candidate for our next round of fundraising!</li>
      </ol>
  </div>

  <div class="small-12 large-4 columns">
    <h4>Stay engaged!</h4>
    <p>After supporting the current scholarship, you become part of our inner-circle. As part of our community, you can be apart of nominating our recipient for our next round of funding or mentor future devs!</p>
  </div>

  <div class="small-12 large-4 columns">
    <h4>Things to do after joining us!</h4>
    <ul>
      <li>Read prospective candidates' profiles</li>
      <li>Read about past scholarship recipients' progress, experiences and career moves!</li>
      <li>Mentor candidates remotely to help them navigate into the tech community!</li>
      <li>Feel good and see the community grow :)</li>
    </ul>
  </div>

</div>
