
<div id="payment-modal" class="reveal-modal medium">

<h5 class="center">Make a donation to support <%= current_campaign.candidate.name %></h5>

<%= form_tag charges_path, id: 'payment-form', class: "no-margin" do %>

  <% if flash[:error] %>
    <span data-alert class="payment-errors alert-box alert"><%= flash[:error] %></span>
  <% end %>


  <div class="row">
    <div class="small-12 large-4 columns"><label class="right inline" for="payment-name">Name on card</label></div>
    <div class="small-12 large-8 columns"><input id="payment-name" type="text"  name='name' required/></div>
  </div>

  <div class="row">
    <div class="small-12 large-4 columns"><label class="right inline" for="payment-email">Email</label></div>
    <div class="small-12 large-8 columns"><input id="payment-email" type="email"  name='email' required/></div>
  </div>

  <div class="row">
    <div class="small-12 large-4 columns"><label class="right inline" for="payment-amount">Amount to contribute $</label></div>
    <div class="small-12 large-8 columns"><input id="payment-amount" type="text"  name='amount' required/></div>
  </div>

  <div class="row">
    <div class="small-12 large-4 columns"><label class="right inline" for="payment-card">Card Number</label></div>
    <div class="small-12 large-8 columns"><input id="payment-card" type="text" size="20" data-stripe="number" required/></div>
  </div>

  <div class="row">
    <div class="small-12 large-4 columns"><label class="right inline" for="payment-cvc">CVC</label></div>
    <div class="small-12 large-8 columns"><input id="payment-cvc" type="text" size="4" data-stripe="cvc" required/></div>
  </div>

  <div class="row">
    <div class="small-4 large-4 columns"><label class="right inline" for="payment-exp">Exp (MM/YYYY)</label></div>
    <div class="small-3 large-3 columns"><input id="exp-month" type="text" size="2" data-stripe="exp-month" required/></div>
    <div class="small-1 large-1 columns">/</div>
    <div class="small-4 large-4 columns"><input id="exp-year" type="text" size="4" data-stripe="exp-year" required/></div>
  </div>

  <div class="row">
    <div class="small-12 large-4 columns"><label class="right inline" for="payment-zip">Zip Code</label></div>
    <div class="small-12 large-8 columns"><input id="payment-zip" type="text" size="5" data-stripe="address_zip" required/></div>
  </div>

  <div class="row">
    <div class="small-12 large-8 large-offset-4 columns">
      <button type="submit" class="button">Submit Transaction<br><small>(Your card will be charged)</small></button>
      <span><i class="icon-lock icon-large right"></i></span>
    </div>
  </div>
<% end %>



<a class="close-reveal-modal">&#215;</a>

</div>
