
<%= form_tag charges_path, :id => 'payment-form', class: "pure-form pure-form-aligned" do %>

  <span class="payment-errors"></span>


  <div class="form-row pure-control-group">
    <label>
      <span>Name</span>
    </label>
      <input type="text"  name='name'/>
  </div>

  <div class="form-row pure-control-group">
    <label>
      <span>Email</span>
    </label>
      <input type="text" name='email'/>
  </div>

  <div class="form-row pure-control-group">
    <label>
      <span>Amount</span>
    </label>
      <input type="text" name='amount'/>
  </div>


  <div class="form-row pure-control-group">
    <label>
      <span>Card Number</span>
    </label>
      <input type="text" size="20" data-stripe="number"/>
  </div>

  <div class="form-row pure-control-group">
    <label>
      <span>CVC</span>
    </label>
      <input type="text" size="4" data-stripe="cvc"/>
  </div>

  <div class="form-row pure-control-group">
    <label>
      <span>Expiration (MM/YYYY)</span>
    </label>
      <input type="text" size="2" data-stripe="exp-month"/>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>

  <div class="form-row pure-control-group">
    <label>
      <span>Zip Code</span>
    </label>
      <input type="text" size="5" data-stripe="address_zip"/>
  </div>

  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Submit Transaction</button>
  </div>


  <script>
    var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
      } 
    else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
      console.log(response)
    }
  };

    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
<% end %>