<div class="row">
  <h1>Frequently Asked Questions</h1>
  <div class="small-12 large-6 columns">
  <div>
    <h4>Question 1 Text?</h4>
    <p>Question 1 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  <div>
    <h4>Question 2 Text?</h4>
    <p>Question 2 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  <div>
    <h4>Question 3 Text?</h4>
    <p>Question 3 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  <div>
    <h4>Question 4 Text?</h4>
    <p>Question 4 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  </div>

  <div class="small-12 large-6 columns">  
  <div>
    <h4>Question 5 Text?</h4>
    <p>Question 5 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  <div>
    <h4>Question 6 Text?</h4>
    <p>Question 6 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  <div>
    <h4>Question 7 Text?</h4>
    <p>Question 7 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  <div>
    <h4>Question 8 Text?</h4>
    <p>Question 8 Answer Matter of factly - remember to remove the html5 manual tab</p>
  </div>
  </div>


</div>
