<div class="row">
  <h1>Frequently Asked Questions</h1>
  <div class="small-12 large-6 columns">
  
    <div>
      <h4>When is my card charged?</h4>
      <p>Your card will be charged upon you pressing the 'Submit Transaction' button at the bottom of the donation form. </p>
    </div>
    <div>
      <h4>Am I able to donate using Paypal?</h4>
      <p>We accept all major credit cards and debit cards but do not support payment through Paypal at this time.</p>
    </div>
    <div>
      <h4>What happens if the candidate does not reach their montetary goal?</h4>
      <p>We provide the student two months as our feature candidate.  If the candidate is unable to reach their goal after the two month period, we will work with the candidate personally to look for alternative ways to raise the remaining amount.</p>
    </div>
     <div>
      <h4>How am I able to monitor the status of the candidate after pledging?</h4>
      <p>The candidate will be providing updates of their Dev BootCamp experience through either blog posts or through social media.  These updates will be displayed on the candidates profile page which is accessible through your profile page or by inputting their name in the search bar. </p>
   </div> 
  </div>

  <div class="small-12 large-6 columns">  

  <div>
    <h4>Is my donation tax deductable?</h4>
    <p>We are not a registered 501(c)(3) at this time, so any donation that is pledged will not be tax deductable.  We hope to have our 501(c)(3) status established in the near future.(Might take the last part out, might deter people from donating right now)</p>
  </div>
  <div>
    <h4>Does your organize recieve any portion of the donation?</h4>
    <p>A 100% of the proceeds are pledged towards the scholarship fund for the candidate. </p>
  </div>
  <div>
    <h4>Is there a way I can help beyond just donating?</h4>
    <p>We are constantly looking for mentors to help candidates transition into the tech community.  You may mentor the candidate in person or remotely, providing technical assistance or just an outlet for the candidate to grow.</p>
  </div>
  <div>
    <h4>What is this nomination process?</h4>
    <p>Once you have donated, you have the opportunity to nominate a candidate as our feature candidate for our next round of fundraising.  You are able to view all the eligible candidates and their profiles by clicking on the 'See All Candidates' button under the Aspiring Coders section.</p>
  </div>
  </div>


</div>
