<div id="signup-modal" class="reveal-modal medium center">
  <h4><%= link_to "Interested in being a supporter?", new_donor_path %></h4>
  <h3>OR</h3>
  <h4><%= link_to "Interested in applying?", new_candidate_path %></h4>
</div>
