<div class="row">
  <h1>Frequently Asked Questions</h1>
  <div class="small-12 large-6 columns">

    <h3>Donors</h3>

    <div>
      <h6>When is my card charged?</h6>
      <p>Your card will be charged upon you pressing the 'Submit Transaction' button at the bottom of the donation form. </p>
    </div>
    <div>
      <h6>Am I able to donate using Paypal?</h6>
      <p>We accept all major credit cards and debit cards but do not support payment through Paypal at this time.</p>
    </div>
    <div>
      <h6>What happens if the candidate does not reach their montetary goal?</h6>
      <p>We provide the student two months as our feature candidate in a fundraising campaign.  If the candidate is unable to reach their goal after the two month period, we will work with the candidate personally to look for alternative ways to raise the remaining amount.</p>
    </div>
    <div>
      <h6>How am I able to monitor the status of the candidate after pledging?</h6>
      <p>The candidate will be providing updates of their Dev BootCamp experience through either blog posts or through social media.  These updates will be displayed on the candidates profile page which is accessible through your profile page or by inputting their name in the search bar. </p>
    </div>
    <div>
      <h6>Is my donation tax deductable?</h6>
      <p>We are not a registered 501(c)(3) at this time, so any donation that is pledged will not be tax deductable.  We hope to have our 501(c)(3) status established in the near future.(Might take the last part out, might deter people from donating right now)</p>
    </div>
    <div>
      <h6>Does your organize recieve any portion of the donation?</h6>
      <p>A 100% of the proceeds are pledged towards the scholarship fund for the candidate. </p>
    </div>
    <div>
      <h6>How is the scholarship paid out?</h6>
      <p>We pay approved schools directly in order to ensure the funding is distributed correctly.</p>
    </div>
    <div>
      <h6>Is there a way I can help beyond just donating?</h6>
      <p>We are constantly looking for mentors to help candidates transition into the tech community.  You may mentor the candidate in person or remotely, providing technical assistance or just an outlet for the candidate to grow.</p>
    </div>
    <div>
      <h6>What is this nomination process?</h6>
      <p>Once you have donated, you have the opportunity to nominate a candidate as our feature candidate for our next round of fundraising.  You are able to view all the eligible candidates and their profiles by clicking on the 'See All Candidates' button under the Aspiring Coders section.</p>
    </div>
  </div>
</div>

<hr data-magellan-destination="faq" id="faq" class="lots-of-margin">

<div class="row">

  <div class="small-12 large-6 columns">

    <h3>Candidates</h3>
    <div>
      <h6>What is the application process like?</h6>
      <p>We encourage EVERYONE who needs finanical aid to apply, although unfortunately only a select number of students will be selected for the scholarships.</p>
        <ol>
          <li>The first step is to sign up and complete the application.</li>
          <li>After submitting the application, we will review your application for approval.</li>
          <li>If approved, your profile will be posted to our website. Donors will read the profiles and nominate the one that they find most compelling.</li>
          <li>If nominated for a campaign, we will contact you as to when it will be held and steps on how to publicize it your community!</li>
        </ol>
    </div>
    <div>
      <h6>Who can apply?</h6>
      <p>Anyone with financial needs! Please note that our primary focus is to help those with the most need and barriers to joining the tech community. Additionally, all candidates will be properly vetted by our selection committee to ensure the financial need and user stories are accurate.</p>
    </div>
    <div>
      <h6>Do I need to have been accepted to a development bootcamp already to apply?</h6>
      <p>No, you do not need to be accepted already. After a candidate has been selected for our upcoming campaign, the candidate should apply to Dev Bootcamp.</p>
    </div>
    <div>
      <h6>If I am already accepted, am I able to apply for a scholarship?</h6>
      <p>Yes, but please realize that if approved, the campaign will occur in the future and therefore we cannot advance the tuition. The tuition can only be paid after the fundraising goal has been achieved.</p>
    </div>
    <div>
      <h6>What happens if as the candidate, I do not achieve my fundraising goal?</h6>
      <p>If the fundraising goal is not achieved during the campaign, we will still stand by you. We are investing in you as a person for your success. We will strategize with our mentors to see if we can help you raise the additional funding for tuition.</p>
    </div>
    <div>
      <h6>If I am not selected for a campaign, what happens next?</h6>
      <p>Although we wish we could fund everyone, unfortunately this is not possible. However, our community of supporters are a great resource and we can try and connect you with a mentor for both tech questions, advice for getting involved in our community and advice on how to raise funds to go to Dev Bootcamp!</p>
    </div>

  </div>


</div>
