<div id= "profile_media_files_edit" class="small-12 columns">
  <div class="panel">
    <h3>Profile  Media Files</h3>
    <%= form_tag current_user do |f| %>

      <%= submit_tag "Update Media Files" %>
    <% end %>
  </div>
</div>
