<div>
  <h1>Aspiring Coders</h1>
  <h3 class="subheader">Donate to the current campaign and nominate someone to receive the next scholarship</h3>
  <% if @candidates && @candidates.any? %>
    <ul class="small-block-grid-2 large-block-grid-4">
    <% @candidates.each do |candidate| %>
      <li>
        <div class="panel">
          <div class="crop">
            <p><%= image_tag candidate.profile_image.url, class: "", size: "200" %></p>
          </div>
          <div class="center">
            <%= candidate.name %>
            <br>
            <%= link_to 'Read my story', candidate_path(candidate), class: "tiny button round" %>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
  <%= link_to "See All #{Candidate.count - 1} Candidates...", candidates_path, class: "button right" %>
</div>
