<div class="">
  <table class="full-width full-height">
    <thead>
      <td colspan=2>
        <%= link_to edit_candidate_path(current_user) do %>
          <i class="fa fa-edit icon-medium dark-text right icon-margin"></i>
        <% end %>
        <h4>About Me</h4>
      </td>
    </thead>
    <tr>
      <td>Current Project:</td>
      <td><%= current_user.currently_working_on %></td>
    </tr>
    <tr>
      <td>Mission Statement:</td>
      <td><%= current_user.mission %></td>
    </tr>
    <tr>
      <td>Biography:</td>
      <td><%= current_user.biography %></td>
    </tr>
  </table>
</div>
