<div class="row">
  <div class="small-12 columns">
    <h2><%= current_user.name %></h2>
  </div>

  <%= render 'candidates/application_table' %>

  <div>
    <h4>Social Media</h4>

    <%= render 'candidates/profile_fields' %>
  </div>

</div>
