<!-- Current Campaign Partial -->
<h1>Lives changed</h1>

<div class='row'>
  <div class= 'small-12 large-6 columns'>
    <div class="panel">
      <div class="crop-small">
        <p><img src="http://devbootcamp.com/imgs/blog/Boots/josh.png" style="max-height: 200px; max-width: 160px;"></p>
      </div>
      <h4>Josh Miramant</h4>
      <p>
        "What you think you’re going to get out of it is trivial compared to what you will get out of it. I’m approaching so many new things that are exciting, and I feel that I can conquer them with so much more confidence."
      </p>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <div class="panel full-height">
      <div class="crop-small">
        <p><img src="http://femgineer.com/wp-content/uploads/2013/04/alyssa-ravasio-200x300.jpg"></p>
      </div>

      <h4> Alyssa Ravassio </h4>
      <p>
        "Aside from learning an incredible amount about web development, the school’s emphasis on communication, feedback, and personal development made a profound impact on me.... It is an optimal learning environment fostered by a community of compassionate experts."
      </p>
    </div>
  </div>
<!--   <div class= 'small-12 large-3 columns'>
    <div class="panel">
      <img src='http://static.tumblr.com/lfllwrt/vJZmdc737/dmac_small.jpg'     style="max-height: 200px; max-width: 200px;">
      <h4>David McDonald</h4>
      <p>
        "Shereef said at the beginning and the end of the program, 'I hope you realize that learning Ruby was just an excuse to get you here.'  Truer words have never been said.  This man created a space for us to be radically self-expressive and supported in the hopes that we go out in the world and do the same for others; paying it forward."  
      </p>
    </div>
  </div> -->

  <div class='small-12 large-6 columns full-height'>
    <div class="panel full-height">
      <div class="crop-small">
        <p><img src="http://qph.is.quoracdn.net/main-thumb-4395126-200-1IkQkqcvKhaZzdUFzq1ytPiluEOXqZ4l.jpeg" style="max-height: 160px; max-width: 160px;"></p>
      </div>
      <h4>Shivam Daryanani</h4>
      <p>
        "I got a lot of criticism for not pursuing the traditional path... If you are serious about learning, there is no better environment. Best of all you will not only become a better programmer, you will become a better person."
      </p>
    </div>
  </div>
  
  <div class= 'small-12 large-6 columns full-height'>
    <div class="panel full-height">  
      <div class="crop-small">    
        <p><img src='http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/236/0e1/3ef72de.jpg' style="max-height: 200px; max-width: 200px;"></p>
      </div>
      <h4>Natasha Murashev</h4>
      <p>
        "I still remember the moment it all made sense. It felt like I had a new superpower. I knew I could now do anything, and it felt invigorating."  
      </p>
    </div>
  </div>

<!--   <div class= 'small-12 large-3 columns'>
    <div class="panel">      
      <img src="http://devbootcamp.com/imgs/blog/aquilina-phil.jpg" style="max-height: 200px; max-width: 200px;">
      <h4>Phil Aquilina</h4>
      <p>
        "Where do I start? I wake up excited to start the day. I'm proud of the work I do, and every time some of my code goes into our app, my heart does a little jump for joy. Sometimes, I go to our site and I think to myself, I'm so lucky to be part of this, working with people that really want to produce something useful to the world. When I come home, I get to build beautiful and meaningful things of my own."
      </p>
    </div>
  </div> -->

</div>
