
* {
    /* Add your font in here, whether it's a custom font or a normal font */
    font-family: 'Source Sans Pro', sans-serif;
}

$primary-color: lighten(#71A35A, 10%);
$secondary-color: lighten(#4D6F88, 20%);
$alert-color: #E36E40;
$success-color: #B3D6AF;
$primary-color-dark: #71A35A;
$secondary-color-light: lighten(#4D6F88, 48%);

$highlight-color: #AC0A3C;
/*$secondary-color-light: lighten(#4D6F88, 50%);*/
/* We use these to control header font styles */

.top-bar {
  /*border-bottom: 1px solid #C4D2DD;*/
}

.donate-nav {
  margin: 8px 20px;
}

.full-width {
  width: 100%;
}

small {
  font-weight: 300;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*.login-fields{
  background-color: $secondary-color-light;
  margin: 0;
  padding-top: 10px;
  height: 180px;
}*/

.fixed {
  height: 50px;
}

.lots-of-margin {
  margin: 4% 0;
}

.icon-margin {
  margin: 0.5em !important;
}

.little-bit-of-bottom-margin {
  margin-bottom: 10px !important;
}

.donate-button-auto-margin {
  margin: 10% 0;
}

.progress-auto-margin {
  margin: 5% 0;
}

.panel-color {
  background-color: lighten(#4D6F88, 50%);
}

.full-height {
  height: 100% !important;
}


.special {
  background-color: lighten(#71A35A, 20%);

  a {
    color: #222;
  }
  a:hover {
    color: #555;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.center {
  text-align: center;
}

.tall {
  height: 3em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.dollars {
  font-size: 2em;
  margin: .2em 0.5em;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0;
}

.crop{
  text-align: center;
  position:relative;
  width:200px;
  height:250px;
  border:1px solid #ccc;
  /*margin:.5em 10px .5em 0;*/
  margin: 0 auto;
}

.crop p{
  margin:0;
  position:absolute;
  top:0;
  left:0;
  clip:rect(0px 200px 248px 0px);
}

.crop-large{
  text-align: center;
  position:relative;
  width:220px;
  height:300px;
  border:1px solid #ccc;
  /*margin:.5em 10px .5em 0;*/
  margin: 0 auto;
}

.crop-large p{
  margin:0;
  position:absolute;
  top:0;
  left:0;
  clip:rect(0px 220px 298px 0px);
}

.crop-small {
  text-align: center;
  position:relative;
  width:160px;
  height:160px;
  border:1px solid #ccc;
  /*margin:.5em 10px .5em 0;*/
  margin: 0 auto;
}

.crop-small p {
  margin:0;
  position:absolute;
  top:0;
  left:0;
  clip:rect(0px 160px 158px 0px);
}


.crop-tiny {
  text-align: center;
  position:relative;
  width:50px;
  height:50px;
  border:1px solid #ccc;
  /*margin:.5em 10px .5em 0;*/
  margin: 0 auto;
}

.crop-tiny p {
  margin:0;
  position:absolute;
  top:0;
  left:0;
  clip:rect(0px 50px 48px 0px);  
}


.user-card {
  height: 450px
}


.image-square {
  overflow: hidden;
  width: 100%;
  max-height: 300px;
}


.icon-large {
  font-size: 2em;
}

.icon-medium {
  font-size: 1.5em;
}

.icon-giant {
  font-size: 4em;
}


.logo-type {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.2em;
}

.dark {
  background-color: #444;
}
.dark-text {
  color: #222;

  &:hover {
    color: #666;
  }
}

.light {
  background-color: #CCC;
}

.white {
  background-color: #FFF;
}

.light-text {
  color: white;
  a {
    color: white;
  }
}

.magenta-text {
  color: $highlight-color;
}
.magenta {
  background-color: $highlight-color;
}

.no-border {
  border: none;
}

/* MAIN PAGE  */

#current_campaign {
  background-color: white;
}

#about {
  background-color: white;
}

#current_candidateds {
  background-color: white;
}

#recent_donors {
  background-color: white;
}

#past_campaigns {
  background-color: white;
}

#faq {
  background-color: white;
}


ul.countdown {
  color: #AC0A3C;
  list-style: none;
  margin: 5px 0;
  padding: 0;
  display: block;
  text-align: center;
}
ul.countdown li {
  display: inline-block;
}
ul.countdown li span {
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
}
ul.countdown li.seperator {
  font-size: 40px;
  line-height: 35px;
  vertical-align: top;
}
ul.countdown li p {
  color: #222;
  font-size: 14px;
  margin-bottom: 0.3em;
}

.candidate-title {
  margin-bottom: 0.375em;
}

.flash-box {
  background-color: lighten(#B3D6AF, 5%);
}

/*.social-container {
  float: right;
}*/

/*.social {
  margin: 0;
  padding: 0;
}*/

/*.dollars {
  font-size: 3em;
  font-weight: 400;
  margin: 0;
}*/
