<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @donor.name %>,  Thank you for Donating through AdoptaCoder.org</h1>
    <p>
      A profile has been created for you to track your donations and keep updated with the candidates you have supported.<br><br>
      Your username is: <%= @donor.email %>.<br><br>
      To finalize the creation of your profile, please follow this link <%= @url %> and create a password for your account.
    </p>
   
    <p>Thanks again for your Donation and Support! </p>
    <p><%=  @current_campaign.candidate.name %></p>
  </body>
</html>